[Unit]
Description=Notification 'TimeLordBot'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/user/KASthinker/bot
ExecStart=/home/KASthinker/bot/notification
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target