[Unit]
Description=Notification 'TimeLordBot'
After=syslog.target
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/usr/local/bin/bot
ExecStart=/usr/local/bin/bot/notification
RestartSec=10
Restart=always
 
[Install]
WantedBy=multi-user.target